header {
  background-color: var(--primary-color);
  max-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  box-shadow: var(--shadow-color) 0px 3px 10px;
}

header img {
  height: 100%;
  max-height: 60px;
}

header h1 {
  font-family: var(--primary-font-family);
  color: var(--primary-font-color);
  font-size: 48px;
}

@media (max-width: 1050px) {
  header {
    padding: 0px 10px;
  }
  header img {
    width: 0px;
  }

  header h1 {
    font-size: 6vw;
  }
}
